<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color:rgb(246, 0, 70);
        }

        #view-container {
            background-color: rgb(140, 255, 150);
            display: flex;
            align-items: center;
            justify-content: center;
            padding:4px;
            box-sizing: border-box;
        }
        
        #view-canvas {
            background-color: rgb(0,0,0);
        }
        #cookieConsent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
}
    </style>
    <script src="scripts/Helpers.js"></script>
    <script src="scripts/SoundPlayer.js"></script>
    <script src="scripts/ArrayVisualizer.js"></script>
</head>
<body>
    <div id="view-container">
        <canvas id="view-canvas"></canvas>
    </div>
    <div id="menu"></div>
    <div id="cookieConsent" style="display:block;">
       This web page uses Web Audio API 
        <button id="allowCookiesButton" onclick="allowAudio(event)">Accept</button>
    </div>

    <script>
        var visualizer;
        
        //Initializing global variables 
        window.addEventListener("DOMContentLoaded", (e)=>{ visualizer= new ArrayVisualizer(); visualizer.onReSize(); });
        
        
        //Updating canvas size when window size changed 
        window.addEventListener("resize", (e)=>{visualizer.onReSize();});
    </script>
</body>
</html>
